<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>人事管理系统</title>
    <link rel="icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/assets/css/view.css}"/>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">系统管理</a>
                  <a><cite>角色管理</cite></a>

                </span>
                <h2 class="title">
                    角色
                </h2>

            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <button class="layui-btn layui-btn-blue" id="btn-add"><i class="layui-icon">&#xe654;</i>新增</button>
                        <button class="layui-btn layui-btn-blue" id="btn-reshpage">刷新页面</button>
                        <button class="layui-btn layui-btn-blue" id="btn-refresh">刷新表格</button>

                        <!--<button class="layui-btn layui-btn-blue" id="btn-add">添加主菜单</button>-->
                        <table class="layui-table" id="roles" lay-filter="roles" width="100%"></table>
                        <!-- 操作列 -->
                        <script type="text/html" id="oper-col">
                            {{#  if(d.is_valid == 0){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="stop">禁用</a>
                            {{#  } }}
                            {{#  if(d.is_valid == 1){ }}
                            <a class="layui-btn layui-btn layui-btn-xs" lay-event="open">启用</a>
                            {{#  } }}
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:inline="javascript">
        var path=[[${#request.contextPath}]];
    </script>
    <script th:inline="none" type="text/javascript">
        layui.use('table', function(){
            var table = layui.table;
            var renderTable= function(){
                //方法级渲染
                table.render({
                    elem: '#roles'
                    ,url: path+'/getJsonRoles'
                    ,cols: [[
                        {checkbox: true}
                        ,{type: 'numbers',title:'序号'}
                        ,{field:'role_name', title: '角色类型', width:100}
                        ,{field:'role_code', title: '角色编码', width:102}
                        ,{field:'role_desc', title: '角色描述', width:340}
                        ,{field:'orders', title: '排序', width:100}
                        ,{field:'is_valid', title: '状态', width:100,align: 'center',templet:function (d) {
                            if (d.is_valid == 0) {
                                return '<span class="layui-badge layui-bg-blue">有效</span>';
                            }else {
                                return '<span class="layui-badge-rim">无效</span>';
                            }
                        }}
                        ,{templet: '#oper-col', title: '操作',width:'180'}
                    ]]
                    ,page: true
                });
            };
            renderTable();

            //添加数据
            $("#btn-add").click(function () {
                x_admin_show('添加角色',path+'/admin_role_add','360','350');
            });

            //刷新页面
            $('#btn-reshpage').click(function () {
                location.replace(location.href);
            });

            //刷新表格
            $('#btn-refresh').click(function () {
                renderTable();
            });



            //监听工具条
            table.on('tool(roles)', function(obj){
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'stop') {
                    var valid = data.is_valid;
                    if(valid===0){
                        layer.confirm('确认要禁用吗？', function (index) {
                            valid=1;
                            var param = "is_valid="+valid+"&role_id="+data.role_id;
                            console.log(data.role_name);
                            console.log(param);
                            $.ajax({
                                url: path + "/updateRoleStatus",
                                data: param,
                                type: "POST",
                                dataType: "html",
                                success: function (data) {
                                    if (data == "ok") {
                                        layer.msg('禁用成功!', {icon: 6, time: 1000});
                                        renderTable();
                                    } else {
                                        layer.msg("您没有权限或网络异常!");
                                    }
                                }
                            });
                        });
                    }

                } else if (layEvent === 'open'){
                    var valid = data.is_valid;
                    if(valid===1){
                        layer.confirm('确认要启动吗？', function (index) {
                            valid=0;
                            var param = "is_valid="+valid+"&role_id="+data.role_id;
                            console.log(data.role_name);
                            console.log(param);
                            $.ajax({
                                url: path + "/updateRoleStatus",
                                data: param,
                                type: "POST",
                                dataType: "html",
                                success: function (data) {
                                    if (data == "ok") {
                                        layer.msg('启用成功!', {icon: 6, time: 1000});
                                        renderTable();
                                    } else {
                                        layer.msg("您没有权限或网络异常!");
                                    }
                                }
                            });
                        });
                    }

                } else if (layEvent === 'edit') {
                    var param= "role_id="+data.role_id+"&role_name="+data.role_name+"&role_code="+data.role_code
                        +"&role_desc="+data.role_desc+"&orders="+data.orders;
                    x_admin_show('编辑角色',path+'/admin_role_edit?'+param,'400','350')
                }
            });
        });
    </script>
</body>
</html>